<!DOCTYPE html>
<html>
<head>
	<title>ToDo App</title>

	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">

	<link rel="stylesheet" type="text/css" href="app.css">
	
	
</head>
<body>



<div id ="container">

	<main id="app">
		<h3>{{title}}<i @click="alldone" class="fa fa-check"></i></h3> 
		<form @submit.prevent="addTodo">
			
			<input v-model="newTodo" type="text" name="newTodo" placeholder="Add New Todo">

			<!-- <button type="submit" name="button" class="btn btn-secondary">ADD</button> -->

		</form>

		

		<ul>
			<li v-for="todo in todos">

				<span id="delete"><i @click="removeTodo(todo)" class="fa fa-trash"></i></span>

				<span><input type="checkbox" v-model="todo.done"></span>

				<span :class="{done: todo.done}">{{todo.title}}</span>
				
			</li>
		</ul>

	</main>
</div>
	


	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="app.js"></script>

	

</body>
</html>
